/* ====================================== family-invite = second page [Swarnim]  ====================================== */

#invite {
	padding: 5em 0;
}

.family-invite h2 {
  font-size: 60px;
  margin-bottom: 8px;
  line-height: 1;
  font-weight: bold;
	/* color: #071330; */
	color: #760116;
  font-family: "Rochester", Arial, serif;
}

.family-invite h1 {
  font-size: 45px;
  margin: 15px;
  line-height: 1;
  font-family: "Playball", Arial, serif;
}

.family-invite p {
  font-size: 40px;
  color: #828282;
  font-family: "Rochester", Arial, serif;
  margin: 0;
}
