#rsvp {
  position: relative;
}
#rsvp .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#rsvp .fh5co-heading h2 {
  color: #fff;
}
#rsvp .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#rsvp .btn {
  height: 54px;
  /* border: none !important; */
  /* background: #F14E95; */
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

#rsvp .btn:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
}

#rsvp .fh5co-heading {
  margin-bottom: 30px;
}
#rsvp .fh5co-heading h2 {
  margin-bottom: 0;
}
