#venue-details {
  height: 750px;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  #venue-details {
    height: inherit;
    padding: 2em 0;
  }
  #venue-details .display-t,
  #venue-details .display-tc {
    height: inherit;
  }
}

#venue-details .display-t,
#venue-details .display-tc {
  height: 700px;
  display: table;
  width: 100%;
}

#venue-details-heading {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 80px;
  font-family: "Rochester", Arial, serif;
}

#venue-details .fh5co-heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}

#venue-details .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

#venue-details .event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  #venue-details .event-wrap {
    margin-bottom: 10px;
  }
}

#venue-details .event-wrap h3 {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#venue-details .event-wrap p,
#venue-details .event-wrap span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

#venue-details .event-wrap i {
  color: white;
  font-size: 20px;
}

#venue-details .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}
